<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <script type="text/javascript">
            toastr.error('<%= message %>')
          </script>            
        </li>
      <% end %>
    </ul>
    <h2>
      <script type="text/javascript">
            toastr.error("<%= I18n.t('errors.messages.not_saved',
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)%>")
      </script>   
    </h2>
  </div>
<% end %>
