<div id="leftpanel">
  <div class="card">
    <ul>
      <% Category.all.sort_by { |e| e[:title] }.each do |category| %>
        <% if category.parent.blank? %>
          <%= render 'shared/sub_category', category: category %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>