<% if category.child.present? %>
  <% category.child.sort_by { |e| e[:tag] }.each do |child| %>
    <% if child.published %>
      <%= render 'shared/sub_category', category: child %>
    <% end %>
  <% end %>
<% else %>
    <% if category.published == 1 %>
        <% if (@category.nil? && category.title == "All") || category == @category %>
          <li class="item_category_parent">
            <%= '<i class="material-icons md-36 icon-cate">'.html_safe + category.icon + '</i>&nbsp; &nbsp;'.html_safe + category.title%>
          </li>
        <% elsif category.title == "All" %>
          <li class="item_category">
            <%= link_to '<i class="material-icons md-36 icon-cate">'.html_safe + category.icon + '</i>&nbsp; &nbsp;'.html_safe + category.title, root_path %>
          </li>
        <% else %>
          <li class="item_category">
            <%= link_to '<i class="material-icons md-36 icon-cate">'.html_safe + category.icon + '</i>&nbsp; &nbsp;'.html_safe + category.title, request.base_url + '/categories/' + category.slug %>
          </li>
        <% end %>
    <% end %>
<% end %>